<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

  <!-- Quiz 등록 버튼 -->
  <div class="row my-3">
    <div class="col-6">
      <a th:href="@{/admin/quiz/form}" class="btn btn-primary">Quiz 등록하기</a>
    </div>
  </div>

  <!-- Quiz 목록 -->
  <table class="table">
    <thead class="table-light">
    <tr class="text-center">
      <th style="width:10%">Quiz 번호</th>
      <th style="width:90%">Quiz 제목</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" th:each="quizResponseDto, loop : ${quizResponseDtoList}">
      <td><span th:text="${quizResponseDto.quizNumber}"></span></td>
      <td><a th:href="@{|/admin/quiz/${quizResponseDto.id}|}" th:text="${quizResponseDto.title}"></a></td>
    </tr>
    </tbody>
  </table>

</div>
</html>