<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

  <!-- 질문 -->
<!--  <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>-->
<!--  <div class="card my-3">-->
<!--    <div class="card-body">-->
<!--      <div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>-->
<!--      <div class="d-flex justify-content-end">-->
<!--        <div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">-->
<!--          <div class="mb-2">modified at</div>-->
<!--          <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>-->
<!--        </div>-->
<!--        <div class="badge bg-light text-dark p-2 text-start">-->
<!--          <div class="mb-2">-->
<!--            <span th:if="${question.author != null}" th:text="${question.author.username}"></span>-->
<!--          </div>-->
<!--          <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <h2 class="border-bottom py-2" th:text="${quizResponseDto.title}"></h2>-->
<!--  <div class="card my-3">-->
<!--    <div class="card-body">-->
<!--      <div class="card-text" th:text="${quizResponseDto.pythonContent}"></div>-->
<!--      <div class="d-flex justify-content-end">-->
<!--        <div class="badge bg-light text-dark p-2 text-start mx-3">-->
<!--          <div class="mb-2">문제번호, 문제 답만</div>-->
<!--          <div th:text="${quizResponseDto.quizNumber}"></div>-->
<!--          <div th:text="${quizResponseDto.quizAnswer}"></div>-->
<!--        </div>-->
<!--        <div class="badge bg-light text-dark p-2 text-start">-->
<!--          <div class="mb-2">-->
<!--            <span th:text="${quizResponseDto.first}"></span>-->
<!--          </div>-->
<!--          <div th:text="${quizResponseDto.second}"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <h2 class="border-bottom py-2" th:text="'Quiz ' + ${quizResponseDto.quizNumber} + '. ' + ${quizResponseDto.title}"></h2>
<!--  <h4 class="mt-5">Python 코드</h4>-->
<!--  <div class="card my-3">-->
<!--    <div class="card-body">-->
<!--      <pre>-->
<!--        <code class="language-python">-->
<!--          <div class="card-text" th:text="${quizResponseDto.pythonContent}"></div>-->
<!--        </code>-->
<!--      </pre>-->
<!--    </div>-->
<!--  </div>-->

  <h4 class="mt-5">Python 코드</h4>
  <pre><code th:text="${quizResponseDto.pythonContent}"></code></pre>
  <h4 class="mt-5">Java 코드</h4>
  <pre><code th:text="${quizResponseDto.javaContent}"></code></pre>
<!--  <h4 class="mt-5">JavaScript 코드</h4>-->
<!--  <pre><code th:text="${quizResponseDto.javaScriptContent}"></code></pre>-->

<!--  <h4 class="mt-5">Java 코드</h4>-->
<!--  <div class="card my-3">-->
<!--    <div class="card-body">-->
<!--      <pre>-->
<!--        <code>-->
<!--          <div class="card-text" th:text="${quizResponseDto.javaContent}"></div>-->
<!--        </code>-->
<!--      </pre>-->
<!--    </div>-->
<!--  </div>-->

<!--  <h4 class="mt-5">JavaScript 코드</h4>-->
<!--  <div class="card my-3">-->
<!--    <div class="card-body">-->
<!--      <pre>-->
<!--        <code>-->
<!--          <div class="card-text" th:text="${quizResponseDto.javaScriptContent}"></div>-->
<!--        </code>-->
<!--      </pre>-->
<!--    </div>-->
<!--  </div>-->

  <div class="mt-5"></div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"  th:checked="${quizResponseDto.quizAnswer == 1}" disabled>
    <label class="form-check-label" for="exampleRadios1" th:text="'(1번) ' + ${quizResponseDto.first}">
      1번 선택지
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" th:checked="${quizResponseDto.quizAnswer == 2}" disabled>
    <label class="form-check-label" for="exampleRadios2" th:text="'(2번) ' + ${quizResponseDto.second}">
      2번 선택지
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" th:checked="${quizResponseDto.quizAnswer == 3}" disabled>
    <label class="form-check-label" for="exampleRadios3" th:text="'(3번) ' + ${quizResponseDto.third}">
      3번 선택지
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4" th:checked="${quizResponseDto.quizAnswer == 4}" disabled>
    <label class="form-check-label" for="exampleRadios4" th:text="'(4번) ' + ${quizResponseDto.fourth}">
      4번 선택지
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5" th:checked="${quizResponseDto.quizAnswer == 5}" disabled>
    <label class="form-check-label" for="exampleRadios5" th:text="'(1번) ' + ${quizResponseDto.fifth}">
      5번 선택지
    </label>
  </div>

</div>
</html>