<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

  <!-- Quiz 등록 버튼 -->
  <div class="row my-3">
    <div class="col-6">
      <a th:href="@{/admin/quiz/form}" class="btn btn-primary">Quiz 등록하기</a>
    </div>
  </div>

  <!-- Quiz 목록 -->
  <table class="table">
    <thead class="table-light">
    <tr class="text-center">
      <th style="width:10%">Quiz 번호</th>
      <th style="width:90%">Quiz 제목</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" th:each="quizResponseDto, loop : ${quizResponseDtoList}">
<!--      <td class="text-start">-->
<!--        <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>-->
<!--        <span class="text-danger small ms-2" th:if="${#lists.size(question.answerList) > 0}" th:text="${#lists.size(question.answerList)}"></span>-->
<!--      </td>-->
      <td><span th:text="${quizResponseDto.quizNumber}"></span></td>
      <td><a th:href="@{|/admin/quiz/${quizResponseDto.id}|}" th:text="${quizResponseDto.title}"></a></td>
    </tr>
    </tbody>
  </table>

<!--  <div th:each="quizResponseDto, loop : ${quizResponseDtoList}">-->
<!--    <pre>-->
<!--      <code class="language-python">-->
<!--        <div th:text="${quizResponseDto.pythonContent}"></div>-->
<!--      </code>-->
<!--    </pre>-->

<!--    <pre>-->
<!--      <code class="language-java">-->
<!--        <div th:text="${quizResponseDto.javaContent}"></div>-->
<!--      </code>-->
<!--    </pre>-->

<!--    <div th:text="${quizResponseDto.javaContent}"></div>-->
<!--  </div>-->


</div>
</html>