<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
  <h5 class="my-3 border-bottom pb-2">질문등록</h5>
  <form th:object="${questionRequestDto}" th:action="@{/question/{id}(id=${id})}" th:method="patch">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
    <div class="mb-3">
      <label for="subject" class="form-label">제목</label>
      <input type="text" th:field="*{subject}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">내용</label>
<!--      <textarea th:field="*{content}" class="form-control" rows="10"></textarea>-->
      <div id="editor" th:utext="*{content}"></div>

      <textarea th:field="*{content}" class="form-control" style="display:none" id="hiddenTextarea"></textarea>
    </div>
    <input type="submit" value="저장하기" class="btn btn-primary my-2">
  </form>

  <script>
    var quill = new Quill('#editor', {
      modules: {
        toolbar: [
          [{ 'font': [] }],
          [{ 'size': ['small', false, 'large'] }],  // custom dropdown
          ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
          // ['blockquote', 'code-block'],

          // [{ 'header': 1 }, { 'header': 2 }],               // custom button values
          // [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          // [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
          // [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
          // [{ 'direction': 'rtl' }],                         // text direction

          // [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

          [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
          // [{ 'align': [] }],
        ]
      },
      theme: 'snow'
    });

    $("form").on("submit", function() {
      $(".ql-clipboard").remove();
      $(".ql-tooltip").remove();
      $("#hiddenTextarea").val($("#editor").html());
    });
  </script>
</div>
</html>