<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- ADMIN -->
        <li class="nav-item dropdown" sec:authorize="hasAuthority('ROLE_ADMIN')">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            관리자 전용
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/quiz/list">Quiz 관리</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/admin/board">게시글 관리</a></li>
          </ul>
        </li>
        <!-- quiz toggle -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Coding Quiz
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/quiz/python">Python</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/quiz/java">Java</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/question/list}">게시판</a>
        </li>
      </ul>
      <!-- 로그인, 로그아웃, 회원가입 -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
          <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/signup}">회원가입</a>
        </li>
      </ul>
    </div>

  </div>
</nav>