<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container my-3">

    <div class="row my-3">
      <div class="col-6">
        <a th:href="@{/question/register}" class="btn btn-primary">질문 등록하기</a>
      </div>
    </div>

    <table class="table">
      <thead class="table-dark">
      <tr class="text-center">
        <th>번호</th>
        <th style="width:50%">제목</th>
        <th>글쓴이</th>
        <th>추천수</th>
        <th>조회수</th>
        <th>작성일시</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center" th:each="question, loop : ${paging}">
        <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
        <td class="text-start">
          <a th:href="@{|/question/${question.id}|}" th:text="${question.subject}"></a>
          <span class="text-danger small ms-2" th:if="${#lists.size(question.answerList) > 0}" th:text="${#lists.size(question.answerList)}"></span>
        </td>
        <td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
        <td><span th:text="${#lists.size(question.voter)}"></span></td> <!-- -->
        <td><span th:text="${#lists.size(question.viewer)}"></span></td> <!-- -->
        <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
      </tr>
      </tbody>
    </table>

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
          <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
            <span>이전</span>
          </a>
        </li>
        <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}" th:if="${page >= paging.number-5 and page <= paging.number+5}" th:classappend="${page == paging.number} ? 'active'" class="page-item">
          <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
        </li>
        <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
          <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
            <span>다음</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- 페이징처리 끝 -->

    <div class="input-group">
      <!-- 제목+내용, 제목, 내용, 댓글, 닉네임 -->
      <div class="col-2">
        <select class="form-select" id="searchOption" th:value="${searchOption}">
          <option value="subjectAndContent" th:selected="${searchOption == 'subjectAndContent'}">제목 + 내용</option>
          <option value="subject" th:selected="${searchOption == 'subject'}">제목</option>
          <option value="content" th:selected="${searchOption == 'content'}">내용</option>
          <option value="comment" th:selected="${searchOption == 'comment'}">댓글</option>
          <option value="username" th:selected="${searchOption == 'username'}">글쓴이</option>
        </select>
      </div>
      <div class="col-6">
        <input type="text" id="search_kw" class="form-control" th:value="${kw}">
      </div>
      <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
    </div>

    <form th:action="@{/question/list}" method="get" id="searchForm">
      <input type="hidden" id="kw" name="kw" th:value="${kw}">
      <input type="hidden" id="page" name="page" th:value="${paging.number}">
      <input type="hidden" id="searchOptionInput" name="searchOption" th:value="${searchOption}">
    </form>
  </div>

  <script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
      element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchOptionInput').value = document.getElementById('searchOption').value;
        document.getElementById('searchForm').submit();
      });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
      document.getElementById('kw').value = document.getElementById('search_kw').value;
      document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
      document.getElementById('searchOptionInput').value = document.getElementById('searchOption').value;
      document.getElementById('searchForm').submit();
    });
  </script>
</html>