name: jar 파일 생성 후 ec2 전송 테스트

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build JAR
        run: ./gradlew bootJar

      - name: Transfer JAR to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.AWS_SERVER_I }}
          username: ${{ secrets.AWS_SERVER_USER }}
          key: ${{ secrets.PEM_KEY }}
          source: "build/libs/quiz-0.0.1-SNAPSHOT.jar"
          target: "/home/ec2-user"
